<div id="bgleftImage">
</div>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Gianpaolo Basilicò</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li >
                <a href="#">CONTACT </a>
            </li>

            <li >
                <a data-ng-click="goToCV()">CURRICULUM VITAE </a>
            </li>
            <li >
                <a href="#" >ABOUT</a>
            </li>
            <li >
                <a href="#">BRAIN</a>
            </li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col-lg-8 col-md-8" id="leftconteiner">
    </div>
    <div class="col-lg-4 col-md-4"></div>
</div>
