<div id="bgrightImage" style="overflow: hidden">
</div>
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Gianpaolo Basilicò</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li >
                <a href="#">CONTACT </a>
            </li>

            <li >
                <a data-ng-click="goToCV()">CURRICULUM VITAE </a>
            </li>
            <li >
                <a href="#">ABOUT</a>
            </li>
            <li >
                <a href="#">BRAIN</a>
            </li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="rightconteiner" style="border: none">
        <div ng-if="!fotocaricate">
            <h1 class="loadingtext" style="font-variant: small-caps;"> loading left brain </h1>
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <ul class="listcont" ng-if="fotocaricate">
            <li ng-repeat="foto in listafoto track by $index" ng-if="fotocaricate=true">
                <figure ng-class="{ 'even': $even, 'odd': $odd }">
                    <div class="detailodd" ng-if="$odd">
                        <div class="descrizione">{{foto.descrizione}}</div>
                        <div class="luogo">{{foto.luogo}}</div></div>
                    <img src="{{foto.url}}" alt="image" class="thumbnail" data-toggle="modal" data-target="#myModal" data-ng-click="setfotoselected(foto.url)">
                    <div class="detaileven" ng-if="$even">
                        <div class="descrizione">{{foto.descrizione}}</div>
                        <div class="luogo">{{foto.luogo}}</div>
                    </div>
                </figure>
            </li>
        </ul>

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <img src="{{fotoselectedurl}}" alt="image" class="thumbnail fullscreenfoto">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>