
#contactbg {
    width: 100%; height: 100%; top: 0; left: 0;
    background: url(../img/foto-profilo.jpg) no-repeat center top; position: fixed; z-index: -1;
    opacity: 0.1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: grayscale(70%);
    filter: contrast(10%) grayscale(30%);

}

#formbg{
    text-align: center;
    margin-top: 15%;
}

#rowbuttons{ margin-top: 100px}

h3.contact{

    padding: 25px;
    font-size: 24px;
    color: white;
    border-bottom: solid 1px;
    width: 400px;
    margin: auto;
    padding-top: 100px;
}

.buttonsocial{
    float: none;
    margin:10px;
    cursor: pointer;
}