body { font-family: Lato;
}

#containerwa{
    width: 100%;
    height:100%;
    position: absolute;
}

#bgleftImage {
    width: 100%; height: 100%; top: 0; left: 0;
    background: url(../img/Lbrain.jpg) no-repeat center top; position: fixed; z-index: -1;
    position: fixed; z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: grayscale(70%); /* Chrome, Safari, Opera */
    filter: contrast(10%) grayscale(30%);
}

#leftconteiner{
    height: 100%;
    padding-top: 100px;
    text-align: center;
}


