<div id="bgImage" class="blur">
</div>
<div class="container-fluid">
    <div style="">
    <div class="row"  id="containerwa" style="height: 100%" >
        <div id="work" class="col-sm-6 col-md-6 {{stateworks}}" style="height:100%">
            <h2 data-ng-click="openworks()" class="{{left}}" style="float: left;"> Left </h2>
            <p class="{{leftwordexp}}" style="margin-top: 65px"> Studies and Works</p>
            <h2 class="{{enterworks}}" data-ng-click="goToLeft()">Go in</h2>
        </div>
        <div id="art"  class="col-sm-6 col-md-6 {{statearts}}" style="height:100%">
            <h2 data-ng-click="openarts()" class="{{right}}" >Right</h2>
            <p class="{{righwordexp}}" style="margin-top: 65px"> Words and Images </p>
            <h2 class="{{enterarts}}" data-ng-click="goToRight()"> Go in</h2>
        </div>
    </div>
    </div>
</div>