<div id="contactbg" style="overflow: hidden">
</div>
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li >
                <a ui-sref="brain">BRAIN</a>
            </li>

            <li >
                <a data-ng-click="goToCV()">CURRICULUM VITAE </a>
            </li>

            <li >
                <a ui-sref="contatc">CONTACT </a>
            </li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="col-lg-6 col-sm-6 col-md-6" >

    </div>
    <div class="col-lg-6 col-sm-6 col-md-6" id="formbg">
        <div class="row">        <h3 class="contact"  data-ng-click="">gianpaolo.basilico@gmail.com</h3>
        </div>
        <div class="row">         <h3 class="contact">3389591833</h3>
        </div>
        <div class="row" id="rowbuttons">
            <i class="fa fa-5x fa-twitter-square buttonsocial" aria-hidden="true"  href="#" style="color: #1da1f2;" data-ng-click="goTotweeter()"></i>
            <i class="fa fa-5x fa-google-plus-square buttonsocial" aria-hidden="true" href="#"  style="color: #db4437;" data-ng-click="goTogoogleplus()"></i>
            <i class="fa fa-5x fa-facebook-square buttonsocial" aria-hidden="true" style="color: #3b5998;" data-ng-click="goTofacebook()"></i>
            <i class="fa fa-5x fa-linkedin-square buttonsocial" aria-hidden="true" href="#"  style="color: #0077b5;" data-ng-click="goTolinkedin()"></i>
        </div>
    </div>
</div>
