<div id="bgleftImage" style="overflow: hidden">
</div>
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li >
                <a ui-sref="brain">BRAIN</a>
            </li>

            <li >
                <a data-ng-click="goToCV()">CURRICULUM VITAE </a>
            </li>

            <li >
                <a ui-sref="contatc">CONTACT </a>
            </li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="leftconteiner">
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/TkmEh3s7HdM" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>

        </div>
    </div>
</div>
